<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UMS</title>
    <link rel="stylesheet" type="text/css" href="css/error.css">
    <script src="https://kit.fontawesome.com/abc91cab4a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="item" style="flex-grow: 2;">
            <h1 class="error">404</h1>
            <p class="error">page not found</p>
        </div>
        <div class="item">
            <p><a href="/">Homepage</a></p>
        </div>
    </div>

<style>
    .container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    }

    .error{
        font-size: 90px;
        height: 60px;
        text-align: center;
    }
    

</style>
</body>
</html>